{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
<div class="manage-location">
  <div class="import-csv">{{ form.open_modal }}</div>
  <div class="export-csv">{{ form.export_csv }}</div>
  <div class="location-list">{{ form.location_options }}</div>
</div>
