{% set url = url('<current>') %}
<div class="user-location-list">
  <div class="user-title">{{ title | t }}</div>
  <div class="user-description">{{ description | join | t }}</div>
  <div class="user-location">{{ location }}</div>
</div>
  {% set text = 'Click to Change Location' %}
  <a href="{{ path('erpw_location.user_location', {'id': tid}) }}">{{ text|t }}</a>

{% if 'referral-pathway' in url|render|render %}
  {{ drupal_block('share_feedback_block') }}
{% endif %}
