{% if scorm_id is empty %}
  <span> {{ 'Scorm file added successfully.'|t }}</span>
{% else %}
<div class="scorm-ui-player" id="scorm-ui-player-scorm-{{ scorm_id }}>" data-scorm-id="{{ scorm_id }}">
  <div class="scorm-ui-player-iframe-wrapper">
    <iframe data-sco-id="{{ start_sco.id }}" src="{{ start_sco.base_path }}opigno-scorm/player/sco/{{ start_sco.id }}"></iframe>
  </div>
</div>
{% endif %}