{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{% set url = url('<current>') %}
<div class="service-providers-submission-row">
	<div class="row-header">
		<div class=" service-type-color-logo-container">
			<div class="service-type-color" style="background-color: {{ servicetype_color }}"></div>
			<div class="service-type-logo">
				<i class="{{ servicetype_icon }}"></i>
			</div>
		</div>
		<div class="service-type-org">
			<a href="/service/{{ sid }}">{{ organisation }}
				-
				{{ servicetype }}</a>
		</div>
	</div>
	{% for key, field in fields -%}
		{% for label, value in access_view_roles %}
			{% if label == key and value == 'TRUE' %}
				{{ field.separator }}
				{%- if field.wrapper_element -%}
					<{{field.wrapper_element}}{{field.wrapper_attributes}}>
					{%- endif %}
					{%- if field.label -%}
						{%- if field.label_element -%}
							<{{field.label_element}}{{field.label_attributes}}>{{ field.label }}{{ field.label_suffix }}
							</{{field.label_element}}>
						{%- else -%}
							{{ field.label }}{{ field.label_suffix }}
						{%- endif %}
					{%- endif %}
					{%- if field.element_type -%}
						<{{field.element_type}}{{field.element_attributes}}>{{ field.content }}</{{field.element_type}}>
					{%- else -%}
						{{ field.content }}
					{%- endif %}
					{%- if field.wrapper_element -%}
					</{{field.wrapper_element}}>
				{%- endif %}
			{% endif %}
		{% endfor %}
	{%- endfor %}

	{% if '/share-feedback' in url|render|render %}
		<div class="service-provider-details">
			<div class="service-detail-heading">
				<div class="view-delete-links">
					<span class="view-link">
						<a href="{{ view_url }}/approved">{% trans %}
							More Details
							{% endtrans %}</a>
					</span>
				</div>
			</div>
		</div>
	{% else %}
		<div class="service-provider-details">
			<div class="service-detail-heading">
				<div class="edit-delete-links">
					<span class="edit-link">
						<a href="{{ edit_url }}">Edit</a>
					</span>
				</div>
			</div>
		</div>
	{% endif %}
</div>
