{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
    'pop-up-speech'
] %}
{{ attach_library('vss_custom/narrate') }}

<div class="wrapper">
  <div id="text"></div>
    <div class="buttons">
      <button id="play" class="play">Play</button>
      <button id="pause" class="pause">Pause</button>
    </div>
</div>

<div{{ attributes.addClass(classes) }}>
    {% if content is not empty %}
        {% if content.disclaimer_title is not empty %}
        <div>
            {{content.disclaimer_title}}
        </div>
        {% endif %}
        {% if content.disclaimer_description is not empty %}
        <div>
            {{ content.disclaimer_description|raw }}
        </div>
        {% endif %}
        {% if content.disclaimer_image is not empty %}
            <div>
                <img src="{{content.disclaimer_image}}"/>
            </div>
        {% endif %}
    {% endif %}
</div>
<button type="button" class="pop-up">{{'OK!'|t}}</button>

