{{ attach_library('vss_custom/exit_website') }}
<button class="exit-website-btn button-defult"><i class="fa-solid fa-xmark"></i>{{ 'Exit Website'|t }}</button>
{% set phone %}
tel:{{ data.header_country_code|trim }}{{ data.header_phone|trim }}
{% endset %}
{% set title %}
{{ data.header_country_code|trim }}-{{ data.header_phone|trim }}
{% endset %}
{{phone|trim}}

{% if data.header_country_code and data.header_phone %}
<a href="{{phone}}">{{ data.header_country_code }}-{{ data.header_phone }}</a>
{{ link(title, phone) }}

{% endif %}
