{{ attach_library('vss_custom/featured_stores_block') }}
		{% if content is not empty %}
			<div class="featured-stories">
				<div class="container">
          <h3 class="text-center featured-head"><img src="/{{ base_path ~ directory }}/images/featured-head-icon.png" alt="featured"/><span>{{'Featured Stories'|t}}</span></h3>
					<div class="featured_stories_block">
						<div class="row">
							{% for key,value in content|slice(0, 2) %}
								<div class="col-sm-6 two-slice {{value.type}}">
                  {% if lang_code != 'en' %}
										<a class={{value.type}} href="/{{lang_code}}/{{value.url}}" target='_blank'>
										<img class="two-slice-img" src="/{{value.thumbnail}}" alt=""/>
										{% if (value.type == 'video') and (value.video_time is not empty) %}
										<span class="video-time-wrapper">{{ value.video_time }}</span>
										{% elseif (value.type == 'podcast') and (value.podcast_time is not empty) %}
										<span class="podcast-time-wrapper">{{ value.podcast_time }}</span>
										{% endif %}
										<span>{{ value.title }} {% if value.read_time %}{{'[ '~ value.read_time ~' ]'}}{% endif %}</span>
										{% if value.type == 'video' %}
										<img class="play-circle"  src="/{{ base_path ~ directory }}/images/play-circle.png" alt='play btn' />
										{% elseif value.type == 'podcast' %}
										<img class="play-circle-podcast"  src="/{{ base_path ~ directory }}/images/play-circle-pod.png" alt='play btn pod' />
										{% endif %} 
										</a>
									{% else %}
										<a class={{value.type}} href="/{{value.url}}" target='_blank'>
										<img class="two-slice-img" src="/{{value.thumbnail}}" alt=""/>
										{% if (value.type == 'video') and (value.video_time is not empty) %}
										<span class="video-time-wrapper">{{ value.video_time }}</span>
										{% elseif (value.type == 'podcast') and (value.podcast_time is not empty) %}
										<span class="podcast-time-wrapper">{{ value.podcast_time }}</span>
										{% endif %}
										<span>{{ value.title }} {% if value.read_time %}{{'[ '~ value.read_time ~' ]'}}{% endif %}</span>
										{% if value.type == 'video' %}
                      <img class="play-circle"  src="/{{ base_path ~ directory }}/images/play-circle.png" alt='play btn' />
                    {% elseif value.type == 'podcast' %}
                      <img class="play-circle-podcast"  src="/{{ base_path ~ directory }}/images/play-circle-pod.png" alt='play btn pod' />
                    {% endif %} 
                    </a>
									{% endif %}
                </div>
							{% endfor %}
              </div>
              <div class="row">
							{% for key,value in content|slice(2, 6) %}
								<div class="col-sm-3 four-slice {{value.type}}">
									{% if lang_code != 'en' %}
										<a class={{value.type}} href="/{{lang_code}}/{{value.url}}" target='_blank'><img class="four-slice-img" src="/{{value.thumbnail}}" alt=""/>
										{% if value.type == 'video' %}
										<span class="video-time-wrapper">{% if value.video_time %}{{ value.video_time }}{% endif %}</span>
										{% endif %}
										<span>{{ value.title }} {% if value.read_time %}{{'[ '~ value.read_time ~' ]'}}{% endif %}</span>
										{% if value.type == 'video' %}
                      <img class="play-circle"  src="/{{ base_path ~ directory }}/images/play-circle.png" alt='play btn' />
                    {% elseif value.type == 'podcast' %}
                      <img class="play-circle-podcast"  src="/{{ base_path ~ directory }}/images/play-circle-pod.png" alt='play btn pod' />
                    {% endif %} 
                    </a>
									{% else %}
										<a class={{value.type}} href="/{{value.url}}" target='_blank'><img  class="four-slice-img" src="/{{value.thumbnail}}" alt=""/>
										{% if value.type == 'video' %}
										<span class="video-time-wrapper">{% if value.video_time %}{{ value.video_time }}{% endif %}</span>
										{% endif %}
										<span>{{ value.title }} {% if value.read_time %}{{'[ '~ value.read_time ~' ]'}}{% endif %}</span>
										{% if value.type == 'video' %}
                      <img class="play-circle"  src="/{{ base_path ~ directory }}/images/play-circle.png" alt='play btn' />
                    {% elseif value.type == 'podcast' %}
                      <img class="play-circle-podcast"  src="/{{ base_path ~ directory }}/images/play-circle-pod.png" alt='play btn pod' />
                    {% endif %} 
                    </a>
									{% endif %}
                </div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
