{{ attach_library('vss_custom/featured_stores_block') }}
{% if content is not empty %}
<h1>{{'Featured Stories'|t}}</h1>
<div class="featured_stories_block">
{% for key,value in content %}
    {% if lang_code != 'en' %}
      <a class={{value.type}} href="/{{lang_code}}/{{value.url}}" target='_blank'><img src ="/{{value.thumbnail}}" alt="" /><span>{{ value.title }}</span></a>
    {% else %}
      <a class={{value.type}} href="/{{value.url}}" target='_blank'><img src ="/{{value.thumbnail}}" alt="" /><span>{{ value.title }}</span></a>
    {% endif %}
{% endfor %}
</div>
{% endif %}