{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{{ attach_library('vss_custom/hero_banner_block') }}
{% if content is not empty %}
<div class="hero_banner full-width">
  <div class="row">
  {% if category.cat_name is not empty %}
   <h2 class="banner text-center"><img src ="/{{category.cat_icon}}" alt="{{category.cat_alt}}" />
   <span>{{ category.cat_name }}</span>
   </h2>
  {% endif %}
 <div class="hero-wrapper container">
 <div class="row">
{% for key,value in content %}
  <div class="col-md-3 col-xs-6 hero-col text-center">
      <a href="/{{lang_code}}/{{value.url}}"><img class="category-imgs" src ="/{{value.sub_category_thumbnail}}" alt="{{value.sub_category_alt}}" /><span class="subcat-name">{{ value.subcat_name }}</span></a>
    </div>
{% endfor %}
</div>
</div>
</div>
{% endif %}
<style>
.hero_banner {
  background:#{{category.cat_color}};	
}
</style>
