{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{{ attach_library('vss_custom/hero_banner_block') }}
{% if content is not empty %}
<div class="hero_banner">
  {% if category.cat_name is not empty %}
   <h2 class="banner"><span><img src ="/{{category.cat_icon}}" alt="" /></span>
   <span>{{ category.cat_name }}</span>
   </h2>
  {% endif %}
{% for key,value in content %}
    {% if lang_code != 'en' %}
      <a href="/{{lang_code}}/{{value.url}}" target='_blank'><img src ="/{{value.sub_category_thumbnail}}" alt="" /><span>{{ value.subcat_name }}</span></a>
    {% else %}
      <a href="/{{value.url}}" target='_blank'><img src ="/{{value.sub_category_thumbnail}}" alt="" /><span>{{ value.subcat_name }}</span></a>
    {% endif %}
{% endfor %}
</div>
{% endif %}
