
<h3 class="recomended-header text-center"> <img src ="/{{ base_path ~ directory }}/images/aanya.png" alt="aanya"  /> <span>{{ 'Anya recommends these next...'|t }}</span></h3>
<div class="recomended-wrapper row">
{% for item in content %}
<div class="recomended-item col-sm-4 {{ item.type }}">
 {% if item.uri %}
   <a href="{{ item.link }}"> <img class="recomended-images" src="{{ file_url(item.uri) }}" alt="" />
   {% if item.type == 'video' %}
     <img class="play-circle"  src="/{{ base_path ~ directory }}/images/play-circle.png" alt='play btn' />
     {% if item.video_time is not null %}
      <span class="recomended-item--video-time">{{ item.video_time }}</span>
     {% endif %}
   {% elseif item.type == 'podcast' %}
     <img class="play-circle-podcast"  src="/{{ base_path ~ directory }}/images/play-circle-pod.png" alt='play btn pod' />
     {% if item.audio_time is not null %}
      <span class="recomended-item--podcast-time">{{item.audio_time}}</span>
     {% endif %}
   {% endif %} 
  </a>
  {% endif %}
  {% if item.title %}
    <span class="r-title"><a href="{{ item.link }}"> {{ item.title }} {% if item.read_time is not null %}  {{ '[ ' ~ item.read_time ~ ' ]'}}</a></span>
  {% endif %}

</div>
{% endfor %}
</div>
