<div>
	<div class="service-ratings-location-header">
		<div>
			<h1>{{ location_name }}</h1>
		</div>
		<div class="average-service-ratings-box">
			<div class="average-ratings-info">
				<p>{{ location_average }}</p>
				<span>{{ '(' }}{{ location_total_reviews }}{{ ')'|t }}</span>
			</div>
			<div id="overall-average-ratings" class="overall-average-star-rating">
				<span class="star">&#9733;</span>
				<span class="star">&#9733;</span>
				<span class="star">&#9733;</span>
				<span class="star">&#9733;</span>
				<span class="star">&#9733;</span>
			</div>
		</div>
	</div>

	<ul class="service-ratings-services-list">
		{% for data in feedback_area_list %}
			<li>
				<p class="service-name">
					{{ data.feedback_name }}
				</p>
				<div class="rating-value-container">
					<p class="service-average-rating">
						{% apply spaceless %}
						{{ data.feedback_rating }}
						{% endapply %}
					</p>
					<div class="rating-arrow-image"></div>
				</div>
				<div id="service-star-rating-{{ data.feedback_rating }}" class="star-rating">
					<span class="star">&#9733;</span>
					<span class="star">&#9733;</span>
					<span class="star">&#9733;</span>
					<span class="star">&#9733;</span>
					<span class="star">&#9733;</span>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
