<div>
	<div class="service-ratings-location-header">
		<div>
			<h1>{{ service_type_name }}</h1>
		</div>
		<div class="average-service-ratings-box">
			<div class="average-ratings-info">
				<p>{{ service_type_average }}</p>
				<span>{{ '(' }}{{ service_total_reviews }}{{ ')'|t }}</span>
			</div>
			<div id="overall-average-ratings" class="overall-average-star-rating">
				<span class="star">&#9733;</span>
				<span class="star">&#9733;</span>
				<span class="star">&#9733;</span>
				<span class="star">&#9733;</span>
				<span class="star">&#9733;</span>
			</div>
		</div>
	</div>

	<ul class="service-ratings-services-list">
		{% for data in location_list %}
			<li>
				<p class="service-name">
					<a href={{ data.location_link }}>{{ data.location_name }}</a>
				</p>
				<p class="service-average-rating">
					{% apply spaceless %}
						{{ data.location_rating }}
					{% endapply %}
				</p>
				<div id="service-star-rating-{{ data.location_rating }}" class="star-rating">
					<span class="star">&#9733;</span>
					<span class="star">&#9733;</span>
					<span class="star">&#9733;</span>
					<span class="star">&#9733;</span>
					<span class="star">&#9733;</span>
				</div>
				<p class="reviews">{{ '(' }}{{ data.location_review_count }}{{ ')' }}</p>
			</li>
		{% endfor %}
	</ul>
</div>
