{% if role == 'staff' %}

	{% for item in service %}
		<div class="notification info-{{ item.read_status }}">
			<div class="icon">
				{% set imagestyle = {
                    '#theme':      'image_style',
                    '#style_name': 'thumbnail',
                    '#uri':        item.icon,
                    '#alt':        'icon',
                    '#attributes': { class: 'circular-image' },
                }
                %}
				{{ imagestyle }}
			</div>
			<div class="content">
				<p>{{ item.message|raw }}</p>
				<p class="time">{{ item.created }}
					|
					{{ "Information"|t }}</p>
			</div>
		</div>
	{% endfor %}
	{% for item in user %}
		{% if item.notification_type == 'broadcast' %}
			<div class="notification info-{{ item.read_status }}" style="background-color:{{ item.color }};">
				<div class="icon">
					<i class="{{ item.icon }}"></i>
				</div>
				<div class="content">
					<p>{{ item.message|raw }}</p>
					<p class="time">{{ item.created }}
						|
						{{ "Information"|t }}</p>
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endif %}

{% if role == 'focal_point' or role == 'gbv_coordination' %}
	<!-- Tab links -->
	<div class="tab">
		<button class="tablinks active" onclick="openTab(event, 'user')">{{ 'New Users'|t }}
			<span>{{ count.user }}</span>
		</button>
		<button class="tablinks" onclick="openTab(event, 'service')">{{ 'Service Updates'|t }}
			<span>{{ count.service }}</span>
		</button>
	</div>

	<!-- Tab content -->
	<div id="user" class="tabcontent notification__content" style="display:block;">
		{% for item in user %}
			{% if item.notification_type == 'broadcast' %}
				<div class="notification info-{{ item.read_status }}" style="background-color:{{ item.color }};">
					<div class="icon">
						<i class="{{ item.icon }}"></i>
					</div>
					<div class="content">
						<p>{{ item.message|raw }}</p>
						<p class="time">{{ item.created }}
							|
							{{ "Information"|t }}</p>
					</div>
				</div>
			{% else %}
				{% if item.behavior == 'link' %}
					<a href="{{ item.link }}">
						<div class="notification link-{{ item.read_status }}">
							<div class="icon">
								{% set imagestyle = {
                            '#theme':      'image_style',
                            '#style_name': 'thumbnail',
                            '#uri':        item.icon,
                            '#alt':        'icon',
                            '#attributes': { class: 'circular-image' },
                        }
                        %}
								{{ imagestyle }}
							</div>
							<div class="content">
								<p class="notification-data">{{ item.message|raw }}</p>
								<p class="time notification-status-data">{{ item.created }}
									|
									{{ "Review"|t }}</p>
							</div>
						</div>
					</a>
				{% else %}
					<div class="notification info-{{ item.read_status }}">
						<div class="icon">
							{% set imagestyle = {
                            '#theme':      'image_style',
                            '#style_name': 'thumbnail',
                            '#uri':        item.icon,
                            '#alt':        'icon',
                            '#attributes': { class: 'circular-image' },
                        }
                        %}
							{{ imagestyle }}
						</div>
						<div class="content">
							<p class="notification-data">{{ item.message|raw }}</p>
							<p class="time notification-status-data">{{ item.created }}
								|
								{{ "Information"|t }}</p>
						</div>
					</div>
				{% endif %}
			{% endif %}

		{% endfor %}
	</div>

	<div id="service" class="tabcontent notification__content">
		{% for item in service %}
			{% if item.behavior == 'link' %}
				<a href="{{ item.link }}">
					<div class="notification link-{{ item.read_status }}">
						<div class="icon">
							{% set imagestyle = {
                            '#theme':      'image_style',
                            '#style_name': 'thumbnail',
                            '#uri':        item.icon,
                            '#alt':        'icon',
                            '#attributes': { class: 'circular-image' },
                        }
                        %}
							{{ imagestyle }}
						</div>
						<div class="content">
							<p class="notification-data">{{ item.message|raw }}</p>
							<p class="time notification-status-data">{{ item.created }}
								|
								{{ "Review"|t }}</p>
						</div>
					</div>
				</a>
			{% else %}
				<div class="notification info-{{ item.read_status }}">
					<div class="icon">
						{% set imagestyle = {
                            '#theme':      'image_style',
                            '#style_name': 'thumbnail',
                            '#uri':        item.icon,
                            '#alt':        'icon',
                            '#attributes': { class: 'circular-image' },
                        }
                        %}
						{{ imagestyle }}
					</div>
					<div class="content">
						<p class="notification-data">{{ item.message|raw }}</p>
						<p class="time notification-status-data">{{ item.created }}
							|
							{{ "Information"|t }}</p>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
